<header class="site-header" role="banner">
  {% block header %}
    <div class="site-header__logo">
      <div class="site-logo">
        {% include 'logo.twig' %}
      </div>
    </div>
    <nav class="site-header__nav js-nav">
      <a href="#" class="site-header__trigger js-nav__trigger">Menu</a>
      <ul class="primary-nav js-nav__menu" role="navigation">
        {% for item in menu.get_items %}
          <li class="nav__item {{item.classes | join(' ')}}">
            <a href="{{item.get_link}}">{{item.title}}</a>
            {% if item.get_children %}
              <ul class="nav nav--sub-nav">
              {% for child in item.get_children %}
                <li class="nav__item">
                  <a href="{{child.get_link}}">{{child.title}}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endblock %}
</header>