<header class="site-header" role="banner">
  {% block header %}
    <div class="site-header__logo">
      <div class="site-logo">
        <a href="/">
          {% include 'logo.twig' %}
        </a>
      </div>
    </div>
    <nav class="site-header__nav js-nav">
      <a href="#" class="site-header__trigger js-nav__trigger">Menu</a>
      <ul class="primary-nav js-nav__menu" role="navigation">
        {% for item in menu.get_items %}
          <li class="nav__item {{item.classes | join(' ')}}">
            <a href="{{item.get_link}}">{{item.title}}</a>
            {% if item.get_children %}
              <ul class="nav nav--sub-nav">
              {% for child in item.get_children %}
                <li class="nav__item">
                  <a href="{{child.get_link}}">{{child.title}}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        <li class="nav__item nav__item--donate-button">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="MDHCZ6TGD2NU2">
            <input type="submit" value="Donate Now" id="donateBtn">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </li>
      </ul>
    </nav>
  {% endblock %}
</header>
