<section class="l-blocks">
  <div class="l-blocks__block l-blocks__block--half bg-light-blue">
    <div class="section">
      <div class="l-contact-info">
        <div class="l-contact-info__title">
          <h1 class="section-title">Get in Touch</h1>
        </div>
        <div class="l-contact-info__body">
          <ul class="contact-list">
            <li class="contact-list__item">
              <div class="contact-item">
                <div class="contact-item__title">Phone</div>
                <div class="contact-item__number">
                  <tel>{{ global.main_phone }}</tel>
                </div>
              </div>
            </li>
            <li class="contact-list__item">
              <div class="contact-item">
                <div class="contact-item__title">Email</div>
                <div class="contact-item__number">
                  <a href="mailto:{{ globals.main_email }}">{{ global.main_email }}</a></div>
              </div>
            </li>
            <li class="contact-list__item">
              <div class="contact-item">
                <div class="contact-item__title">Mail</div>
                <div class="contact-item__number">
                  {{ global.mailing_address | replace({'/': '<br/>'}) }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="l-blocks__block l-blocks__block--half l-blocks__block--no-pad">
    <div class="event-map">
      <div class="js-map" data-lat="{{ global.map_address.lat }}" data-lng="{{ global.map_address.lng }}" data-addr="{{ global.map_address.address }}"></div>
    </div>
  </div>
</section>