<div class="l-event-info">
  <div class="l-event-info__date">
    <div class="event-date">
      <div class="event-date__month">
        {{ event.event_date | date('M')}}
      </div>
      <div class="event-date__day">
        {{ event.event_date | date('j') }}
      </div>
    </div>
  </div>
  <div class="l-event-info__meta">
    <h2><a href="{{ event.permalink }}">{{ event.post_title }}</a></h2>
    <div>
      {{ event.event_date | date('F j, Y') }} 
    </div>
  </div>
</div>