{% set thumbSrc = post.get_thumbnail ? post.thumbnail.src : 'http://placehold.it/600x400' %}
<article class="tease">
  <figure class="tease__thumb">
    <div class="thumbnail">
      <img src="{{ thumbSrc }}" alt="Placeholder" class="thumbnail__img">
    </div>
  </figure>
  <h1 class="tease__title">
    <a href="{{ post.permalink }}">{{ post.post_title }}</a>
  </h1>
  <div class="tease__body">
    {{ post.post_excerpt }}
  </div>
  <a href="{{ post.permalink }}" class="tease__cta">Learn More</a>
</article>